.search-container {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 50px;
    height: 100px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .search-icon {
    color: #999;
    margin-right: 0.5rem;
  }
  
  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    width: 100%;
  }

  
  .search-input::placeholder {
    color: #999;
    opacity: 0.6;
  }

  .search-song-link {
    color: white;
    text-decoration: none;
}

.search-song-link:hover {
  color: #1db954;
}

.search-add-button {
  margin-left: 20px;
  background-color: #212121;
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.search-song-result {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}